/* 0.95 */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.cdnfonts.com/css/miama');



.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-variation-settings:
        "slnt" 0;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    max-width: 1368px;
    margin: 0 auto;
}



/* Common Button Style */
.btn-primary{
        width: 13.3rem;
        height: 3.20rem;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 16px 40px 16px 40px;
        margin: 0px -4px;
        border: none;
        border-radius: 42px;
        background: rgb(230, 83, 60);
        color: rgb(255, 255, 255);
        font-size: 1.1rem;
        font-weight: 600;
        line-height: 1.30rem;
        letter-spacing: 0px;
}

.habit, .run, .exercise{
    background: rgb(17, 17, 17);
    padding-top: 5.90rem;
}


/* Navbar Style */


.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 3.38rem;
    padding-bottom: 1rem;
    background:  rgb(17, 17, 17);   
}

.nav-link{
        border: 1.5px solid rgba(255, 255, 255, 0.1);
        border-radius: 37px;
        padding: 7px;
        margin-right: 12rem;

        
}

.nav-link ul{
    display: flex;
    align-items: center;
    gap: 2.5rem;
}
ul li{
    list-style: none;
}
li a{
    text-decoration: none;
    color: black;
    padding-right: .8rem;

}

#nav-title{
    color: rgb(230, 83, 60);
        font-size: 2.15rem;
        font-weight: 800;
        line-height: 120%;
        margin-right: 11.50rem;
       
     
}

#home a{
    border-radius: 46px;
    background: rgb(230, 83, 60);
    color: rgb(255, 255, 255);
        font-size: 1.3rem;
        font-weight: 600;
        line-height: 1.3rem;
        letter-spacing: 0%;
        padding: 2px 15px;
        
}

.nav-item a{
    color: rgb(255, 255, 255);
        font-size: 1.3rem;
        font-weight: 400;
}


#bar{
    display: none;
}

/* Banner style */
.banner{
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(180deg, rgb(17, 17, 17) 0%, rgb(39, 39, 39) 50%, rgb(17, 17, 17) 100%);
}



#banner-title{
    color: rgb(255, 255, 255);
        font-size: 4.65rem;
        font-weight: 900;
        letter-spacing: 0%;
        line-height: 110%;
    
}

#shape{
    font-family: 'Miama', sans-serif;
    font-size: 7.65rem;
    font-weight: 500;
    letter-spacing: 1.70dvh;
}

.banner-button{
    display: flex;
    justify-content: center;
    align-items: center;
}

#banner-para{
    color: rgba(255, 255, 255, 0.5);
        font-size: 0.95rem;
        font-weight: 400;
        line-height: 1.40rem;
        letter-spacing: 0.5px;
        margin-top: 1.66rem;
        margin-bottom: 1.66rem ;
}

#app-button {
    width: 13.3rem;
    height: 3.20rem;
    display: flex;
    justify-content: center;
    align-items:center;
    padding: 16px 40px 16px 40px;
    border: 1px solid white;
    border-radius: 42px;
    background: transparent;
    color: rgb(255, 255, 255);
    font-size: 1.1rem;
    font-weight: 600;
    line-height: 1.30rem;
    letter-spacing: 0px;
    text-align: left;
}

.banner-img{
    position: relative;
    left: -5.93rem;
}

.banner-img img{
        width: 21rem;
        height: 35rem;
        
       
}

.img-btn {
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(1.18rem);
    background: rgba(48, 48, 48, 0.54);
    width: 12rem;
    height: 5.7rem;
    padding: 1.18rem 1.36rem;
    position: absolute;
    left: -7.72rem;
    top: 25.30rem;
    stroke: 1px Inside rgba(255, 255, 255, 0.1);
    fill: rgba(48, 48, 48, 0.54);
   
    
   
}
.video-btn{
    display: flex;
    text-align: left;
    align-items: center;
    gap: 7px;
    
    } 




#circle{
        width: 38px;
        height: 38px;
        border-radius: 50rem;
        background: rgb(230, 83, 60);
}

#vdo-num{
    color: rgb(250, 250, 249);
        font-size: 1.4rem;
        font-weight: 900;
        line-height: 1.4rem;
        letter-spacing: 0.3px;
        margin-bottom: 5px;
}

.btn-text{
    color: rgba(239, 237, 232, 0.65);
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.4rem;
        letter-spacing: 0.5px;
}

.img-btn2 {
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(1.18rem);
    background: rgba(48, 48, 48, 0.54);
    width: 12rem;
    height: 5.7rem;
    padding: 1.18rem 1.36rem;
    position: absolute;
    left: 13.65rem;
    top: 7.71rem; 
    stroke: 1px Inside rgba(255, 255, 255, 0.1);
    fill: rgba(48, 48, 48, 0.54);
}

#vdo-num2{
    color: rgb(255, 255, 255);
        font-size: 2.37rem;
        font-weight: 900;
        line-height: 2.37rem;
        letter-spacing: 1px;
        text-align: left;
        margin-bottom: 3px;
}

.btn-text2{
    color: rgba(255, 255, 255, 0.65);
        font-size: 0.77rem;
        font-weight: 400;
        line-height: 1.18rem;
        letter-spacing: 1px;
        text-align: left;
}


/* main section styles */

/* habit section styles */
#habit-title {
    color: rgb(255, 255, 255);
    font-size: 2.85rem;
    font-weight: 900;
    line-height: 120%;
    text-align: center;
}

#habit-des{
    color: rgba(255, 255, 255, 0.5);
        font-size: 0.83rem;
        font-weight: 400;
        line-height: 1.4rem;
        letter-spacing: 0.3px;
        text-align: center;
        margin-top: .83rem;
        margin-bottom: 3rem;
}

#habit-card{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    text-align: center;
    padding:0 11.28rem;
    gap: 2.15rem;
}

.habit-card img{
    border-radius: 100px;
    border: 4px solid rgba(112, 112, 112, 0.295);
    
}
.habit-card h1{
    color: rgb(255, 255, 255);
        font-size: 1.06rem;
        font-weight: 600;
        line-height: 120%;
        letter-spacing: 0%;
        margin-top:1.55rem;
        margin-bottom:0.35rem;
}
.habit-card p{
    color: rgba(255, 255, 255, 0.5);
        font-size: 0.83rem;
        font-weight: 400;
        line-height: 1.06rem;
        letter-spacing: 0.3px;
}



/* run section styles  */
.btn-primary2 {
    width: 13.3rem;
    height: 3.20rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px 40px 16px 40px;
    margin: 0px -4px;
    border: none;
    border-radius: 42px;
    background: rgb(230, 83, 60);
    color: rgb(255, 255, 255);
    font-size: 1.1rem;
    font-weight: 600;
    line-height: 1.30rem;
    letter-spacing: 0px;
}

.run{
    padding-left:11rem;
    padding-right: 11rem;
}

#run-card{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    border-radius: 18px;
    background: rgb(34, 34, 34);
    padding: 2rem 2rem 2rem 4rem; 
    max-width: 63rem;
    height: auto;
}

.run-content h1{
    color: rgb(255, 255, 255);
        font-size: 2.85rem;
        font-weight: 900;
        line-height: 120%;
        letter-spacing: 0%;
}

.run-content p{
    color: rgba(255, 255, 255, 0.5);
        font-size: 0.83rem;
        font-weight: 400;
        line-height: 1.42rem;
        letter-spacing: 0.3px;
        margin-top: 0.83rem;
        margin-bottom: 2rem;
}

.run-img{
    width: 22rem;
    height: 18.50rem;
    margin-right: 0px;
}

.run-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 18px;
   
}


/* exercise styles */

.exercise{
    padding-left: 11rem; 
    padding-right: 11rem;
}

.exercise-content h1{
    color: rgb(255, 255, 255);
        font-size: 2.85rem;
        font-weight: 900;
        line-height: 120%;
        letter-spacing: 0%;
}

.exercise-content p{
    color: rgba(255, 255, 255, 0.5);
        font-size: .83rem;
        font-weight: 400;
        line-height: 1.42rem;
        letter-spacing: 0.3px;
        text-align: left;
        margin-top: .83rem;
        margin-bottom: 3.45rem;
}

 .row-1{
    display: grid;
    grid-template-columns: 230px 520px auto auto;
    grid-template-rows: 180px;
} 

 
 .row-2 {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: 180px;
 }

.large {
    grid-column: span 2;
}

.exercise-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
   
}
.img-container1,
.img-container2,
.img-container3,
.img-container4,
.img-container5,
.img-container6 {
    position: relative;
    margin: 0px;
    padding: 0px;
}

.img-container1::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(6, 255, 210, 0.9);
    mix-blend-mode: overlay;
}
.img-container2::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 0, 0, 0.5);
    mix-blend-mode: overlay;
}
.img-container3::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    mix-blend-mode: overlay;
}
.img-container4::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    mix-blend-mode: overlay;
}
.img-container5::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(66, 255, 0, 0.5);
    mix-blend-mode: overlay;
}
.img-container6::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 71, 255, 0.9);
    mix-blend-mode: overlay;
}

.img-txt{
color: rgb(255, 255, 255);
    font-size: 0.83rem;
    font-weight: 500;
    line-height: 1rem;
    letter-spacing: 0px;
    text-align: left;
}
.p4{
    position: absolute;
    top:8rem;
    padding-left: 45px;
    padding-right: 90px;
}

.p3{
    
    position: absolute;
    top: 1rem;
    padding-left: 190px;
    padding-right: 25px;
    text-align: right;
}

.p1{
    position: absolute;
    top: 1rem;
    padding-left: 45px;
}

.p2{
    position: absolute;
    top: 8rem;
    padding-left: 35px;
    padding-right: 70px;
}

.img-txt-a{
    position: absolute;
        top: 8.5rem;
        padding-left: 25px;
        /* padding-right: 90px; */
        color: rgb(0, 0, 0);
        font-size: 0.83rem;
        font-weight: 600;
        line-height: 1rem;
        letter-spacing: 0px;
        text-align: left;
}

.res-txt{
    display: none;
}

/* BMI styles */
.bmi-content{
    display: flex;
    flex-direction: column;
    padding-top: 5.90rem;
    background: rgb(17, 17, 17);
}
.bmi-content h1{
    color: rgb(255, 255, 255);
        font-size: 2.85rem;
        font-weight: 900;
        line-height: 120%;
        letter-spacing: 0%;
}

.bmi-content p{
    color: rgba(255, 255, 255, 0.5);
        font-size: 0.83rem;
        font-weight: 400;
        line-height: 1.42rem;
        letter-spacing: 0.3px;
        margin-top: 0.83rem;
        margin-bottom: 5.22rem;
}

.bmi-calc{
    display: flex;
    justify-content: space-between;
    padding: 0 11rem;
    background: rgb(34, 34, 34);
    
}

.calc-title{
    color: rgb(255, 255, 255);
        font-size: 1.66rem;
        font-weight: 900;
        line-height: 120%;
        letter-spacing: 0%;
        margin-top: 3.08rem;
}

#form-txt{
    color: rgba(255, 255, 255, 0.5);
        font-size: 0.83rem;
        font-weight: 400;
        line-height: 1.42rem;
        letter-spacing: 0.3px;
        margin-top: 0.83rem;
        margin-bottom:2rem;
}

table,
td,
th {
    border: 1px solid rgba(255, 255, 255, 0.1);
    text-align: center;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 3rem;
    
}

th{
    color: rgb(255, 255, 255);
        font-size: 0.95rem;
        font-weight: 350;
        line-height: 120%;
        padding: 10px;
}

td{
    color: rgba(255, 255, 255, 0.5);
        font-size: 0.83rem;
        font-weight: 200;
        line-height: 120%;
        padding: 10px;
}

.bmi-form{
    width: 36rem;
    height: auto;
    position: relative;
    left: 3.56rem;
   
}

#height,
#weight,
#age,
#sex
{
        width: 17rem;
        height: auto;
        color: rgba(255, 255, 255, 0.6);
        padding: 12px 40px 12px 20px;
        margin: 0px 12px;
        border-radius: 8px;
        border: none;
        background: rgba(255, 255, 255, 0.1);
        margin: 6px;
}
#factor{
        width: 35rem;
            height: auto;
            color: rgba(255, 255, 255, 0.6);
            padding: 12px 40px 12px 20px;
            margin: 0px 12px;
            border-radius: 8px;
            border: none;
            background: rgba(255, 255, 255, 0.1);
            margin: 6px;
           
}
option{
    background-color: gray;
    color: black;
}

.btn-primary3 {
    width: 13.3rem;
    height: 3.20rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px 40px 16px 40px;
    margin: 0px 4px;
    border: none;
    border-radius: 42px;
    background: rgb(230, 83, 60);
    color: rgb(255, 255, 255);
    font-size: 1.1rem;
    font-weight: 600;
    line-height: 1.30rem;
    letter-spacing: 0px;
    margin-top: 2rem;
    margin-bottom: 3.08rem;
}



/* Responsive for small devices */

/* common button style */

@media (max-width: 576px) {
    .banner{
       margin: 0;
       padding: 0;
       box-sizing: border-box;
    }
}
@media screen  and (max-width:576px){
        .btn-primary {
            width: 9.80rem;
            height: 3.20rem;
            padding: 14px 17px 14px 17px;
            margin: 0px -4px;
            border: none;
            border-radius: 42px;
            background: rgb(230, 83, 60);
            color: rgb(255, 255, 255);
            font-size: 1rem;
            font-weight: 500;
            line-height: 1.30rem;
            letter-spacing: 0px;
            text-align: left;
        }
    
}


/* header part */
@media screen and (max-width:576px){
    .nav-link{
        display: none;
    }
    
    #bar{
        display: block;
    }
    .fa-bars {
        color: white;
        font-size: 2rem;
    }

    .banner{
        flex-direction: column;
    }
    .banner-content{
        padding: 1.18rem;
    }
    #banner-title{
        font-size: 2.80rem;
    }
    #shape{
        font-size:4.14rem;
        font-weight: 550;
        letter-spacing: .80dvh;
    }

    .banner-img {
        position: relative;
        left: 1rem;
        }
   .img-btn{
       left: -2.7rem;
        top: 14rem;
   }

   .img-btn2{
        left: 11.28rem;
        top: 3.5rem;
        width: 9rem;
            height: 5.7rem;
   }

  .banner-button {
    display: flex;
      justify-content: space-evenly;
      align-items: center;
  }




   #app-button {
    width: 9.80rem;
        height: 3.20rem;
        padding: 14px 17px 14px 17px;
        border: none;
        border-radius: 42px;
        background:transparent;
        border: 1px solid white;
        color: rgb(255, 255, 255);
        font-size: 1rem;
       
   }

   
}

/* habit section */
@media screen and (max-width:576px){
   
   #habit-card{
    grid-template-columns: repeat(1,1fr);
    padding: 0 5rem;
   }
    
}

/* run section */
@media screen  and (max-width:576px){

    .run{
        padding: 3rem 0rem;
    }
    #run-card{
        grid-template-columns: repeat(1,1fr);
        max-width: 21rem;
        height: auto;
        padding: 2rem;  
    }

    .run-img{
        width: 17rem;
        height: 10rem;
        margin-top: 3rem;
    }

    .btn-primary2{
        width: 287px;
        height: 54px;
        align-items: center;
    }
}

/* exercise section */
@media screen and (max-width:576px) {
    .exercise{
        display: flex;
        flex-direction: column;
        padding: 0rem 3rem;
     }

    .row-1 {
             display: grid;
             grid-template-columns:repeat(3,1fr); 
            grid-template-rows: 150px;
           }
    
    
    .row-2 {
             display: grid;
             grid-template-columns: repeat(3, 1fr);
             grid-template-rows: 150px;
             
           }

    .img-container3, .img-container6{
        display: none;
    }   
    
    .img-txt-a, .p1, .p2, .p3, .p4{
        display: none;
    }

    .res-txt{
        position: absolute;
        top: 8rem;
        padding-left: 8px;
        color: white;
        font-size: medium;
        font-weight: 500;
    }
}

/* bmi section */
@media screen and (max-width:576px) {

    
    .bmi-content{
        display: grid;
        grid-template-columns: repeat(1, .80fr);
        padding: 2rem;
    }

    .bmi-calc{
        display: grid;
        grid-template-columns: repeat(1,.80fr);
        padding: 0rem;
        
    }
     
    .bmi-form {
            width: 21rem;
            height: auto;
            position: relative;
            left: 25px;
        }
    
        #height,
        #weight,
        #age,
        #sex {
            width: 9rem;
            height: auto;
        }
    
        #factor {
            width: 19rem;
            height: auto;
        }
}